.image-container {
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border: 1px solid #ddd;
}

.image-caption {
  font-style: italic;
  text-align: justify;
  color: gray;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.image-pair-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 10px 0;
}

.image-pair-item {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.image-pair-item img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border: 1px solid #ddd;
}