<script src="https://giscus.app/client.js"
        data-repo="jamesnulliu/blog.autumnrivulet"
        data-repo-id="R_kgDOMPCQIw"
        data-category="General"
        data-category-id="DIC_kwDOMPCQI84Cgb2u"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>